* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  color: cornsilk;
  background-color: darkslategrey;
}

a {
  color: cornsilk;
  text-decoration: none;
  padding: 1.5rem;
  display: block;
}

a:hover {
  color: darkgray;
}

ul {
  list-style: none;
  display: flex;
}

.content {
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem;
}

.post {
  color: darkslategrey;
  background-color: cornsilk;
  padding: 1.5rem;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 10%);
}

.post a {
  text-decoration: none;
  color: darkslategrey;
}

.post a:hover {
  color: rgb(103, 172, 172);
}

.menu {
  background-color: rgb(58, 57, 57);
}

@media (min-width: 800px) {
  .content:not(:has(.single-post)) {
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  }
}
