<article class="post">
  <header>
    <h2 class="post__title">Lorem ipsum dolor sit amet.</h2>
    <div class="post__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque placeat
      iusto explicabo tempora quam. Iusto totam corrupti dignissimos quisquam
      adipisci doloribus sunt error nam debitis. Officiis, assumenda ullam?
      Facilis, illum numquam? Ipsam optio voluptate illo, amet enim, recusandae
      est voluptatum magnam quos magni quaerat nisi. Corrupti eligendi
      exercitationem totam similique?
    </div>
  </header>
</article>
